<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Children page</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Age</th>
        <th>categoryInSports</th>
    </tr>
    </thead>
    <tbody>
    <!-- Use Thymeleaf iteration to loop through the list of UserDTOs -->
    <tr th:each="ChildDTO : ${allChild}">
        <td th:text="${ChildDTO.id}"></td>
        <td th:text="${ChildDTO.name}"></td>
        <td th:text="${ChildDTO.surname}"></td>
        <td th:text="${ChildDTO.email}"></td>
        <td th:text="${ChildDTO.phone}"></td>
        <td th:text="${ChildDTO.age}"></td>
        <td th:text="${ChildDTO.categoryInSports}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>